extends layout 

block content
    h1 Fake things 
    p Choose what you want to generate 
    ul
        li
            a(href="/fake/animals?count=5") Animals
        li 
            a(href="/fake/people?count=30") People