doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      ul.navbar 
        li
          a(href='/') Back to index
        li
          a(href='/fake') Generator
    block content

    footer
      a(href='https://github.com/YoshiLeLama/fake_people_app') Github repo