body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.navbar {
  list-style-type: none;
}

ul.navbar li {
  display: inline;
  padding: 1%;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

